flows.json
[{"id":"16cda610.bb439a","type":"tab","label":"Cervecero","disabled":false,"info":""},{"id":"9ba0c754.4b6a08","type":"debug","z":"16cda610.bb439a","name":"Message from SQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":460,"wires":[]},{"id":"ef5baefb.a67e9","type":"mqtt in","z":"16cda610.bb439a","name":"Sonda Data Input","topic":"ispindel/#","qos":"0","datatype":"auto","broker":"a0ebb6bf.652f78","x":160,"y":580,"wires":[["d3874c40.34ee5","975eadb7.6ea46"]]},{"id":"975eadb7.6ea46","type":"join","z":"16cda610.bb439a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"{\"id\":\"\",\"tilt\":\"\",\"temperature\":\"\",\"temp_units\":\"\",\"battery\":\"\",\"gravity\":\"\",\"interval\":\"\",\"RSSI\":\"\"}","reduceInitType":"json","reduceFixup":"","x":370,"y":580,"wires":[["8dc230bf.e103b","61b1103f.b45e7"]]},{"id":"8dc230bf.e103b","type":"debug","z":"16cda610.bb439a","name":"After Join","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":460,"wires":[]},{"id":"d3874c40.34ee5","type":"debug","z":"16cda610.bb439a","name":"Entrada","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":460,"wires":[]},{"id":"61b1103f.b45e7","type":"function","z":"16cda610.bb439a","name":"","func":"let id = extractIdSonda(msg.topic);\n\nfunction extractIdSonda(topic){\n    let indexId = topic.indexOf(\"/\");\n    let indexIdFin = topic.lastIndexOf(\"/\");\n    return topic.substring(indexId + 1, indexIdFin);\n}\n\nlet data = {\n    payload: {\n        id_Sonda: id,\n        tilt: msg.payload[\"ispindel/\"+id+\"/tilt\"],\n        temp: Math.trunc(msg.payload[\"ispindel/\"+id+\"/temperature\"]),\n        temp_Unit: msg.payload[\"ispindel/\"+id+\"/temp_units\"],\n        battery: msg.payload[\"ispindel/\"+id+\"/battery\"],\n        gravity: msg.payload[\"ispindel/\"+id+\"/gravity\"],\n        interval: msg.payload[\"ispindel/\"+id+\"/interval\"],\n        RSSI: msg.payload[\"ispindel/\"+id+\"/RSSI\"],\n        process: 3\n    },\n    topic: 'INSERT INTO sondas_data (id_Sonda, tilt, temp, temp_Unit, battery, gravity, `interval`, RSSI) VALUES (:id_Sonda, :tilt, :temp, :temp_Unit, :battery, :gravity, :interval, :RSSI)'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":580,"wires":[["935a319d.256bd","3f336305.123d6c","b1357aa8.b0c1b8"]]},{"id":"935a319d.256bd","type":"debug","z":"16cda610.bb439a","name":"After Id Insert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":460,"wires":[]},{"id":"eb4b97b2.cbfba8","type":"mqtt in","z":"16cda610.bb439a","name":"Arduino Data Input","topic":"cervecero/#","qos":"0","datatype":"json","broker":"a0ebb6bf.652f78","x":130,"y":180,"wires":[["de0c4b22.6cbbe8","486131b3.db183"]]},{"id":"de0c4b22.6cbbe8","type":"debug","z":"16cda610.bb439a","name":"Entrada","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":120,"wires":[]},{"id":"486131b3.db183","type":"function","z":"16cda610.bb439a","name":"","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        IDplaca: p.IDplaca,\n        recipe: p.receta,\n        process: p.proceso,\n        processStep: p.pasoProceso,\n        state: p.estado,\n        timeLeft: p.tiempoRestante,\n        percentage: p.porcentaje,\n        temp: p.temp.toFixed(1)\n    },\n    topic: 'INSERT INTO placas_data (IDplaca, receta, proceso, pasoProceso, estado, tiempoRestante, porcentaje, temp) VALUES (:IDplaca, :recipe, :process, :processStep, :state, :timeLeft, :percentage, :temp)'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["c0682935.2d3718","c630e025.38ef5","f32208d5.8249a8"]]},{"id":"c0682935.2d3718","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"c2579388.5c5b7","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"f454f1b6.3cd35","type":"mqtt out","z":"16cda610.bb439a","name":"Send to Web","topic":"","qos":"0","retain":"true","broker":"a0ebb6bf.652f78","x":750,"y":260,"wires":[]},{"id":"ff6bfb0d.56ef98","type":"mqtt out","z":"16cda610.bb439a","name":"Send to WebClient","topic":"","qos":"0","retain":"true","broker":"a0ebb6bf.652f78","x":990,"y":680,"wires":[]},{"id":"b1357aa8.b0c1b8","type":"function","z":"16cda610.bb439a","name":"","func":"let data = {\n    \n    topic: \"webCervecero/sonda/\" + msg.payload.id_Sonda,\n    payload: msg.payload\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":680,"wires":[["ff6bfb0d.56ef98"]]},{"id":"f32208d5.8249a8","type":"function","z":"16cda610.bb439a","name":"","func":"let data = {\n    \n    topic: \"webCervecero/arduino/\" + msg.payload.IDplaca,\n    payload: msg.payload\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["f454f1b6.3cd35"]]},{"id":"3f336305.123d6c","type":"Stackhero-MySQL","z":"16cda610.bb439a","server":"410f1732.2a4f18","name":"","x":780,"y":580,"wires":[["9ba0c754.4b6a08"]]},{"id":"c630e025.38ef5","type":"Stackhero-MySQL","z":"16cda610.bb439a","server":"410f1732.2a4f18","name":"","x":580,"y":180,"wires":[["c2579388.5c5b7"]]},{"id":"a0ebb6bf.652f78","type":"mqtt-broker","name":"Cervecero MQTT","broker":"mosquitto","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"410f1732.2a4f18","type":"Stackhero-MySQL-Server","name":"","host":"mariadb","port":"3306","tls":false,"database":"cervecero"}]