flows.json
[{"id":"16cda610.bb439a","type":"tab","label":"Cervecero","disabled":false,"info":""},{"id":"9ba0c754.4b6a08","type":"debug","z":"16cda610.bb439a","name":"Message from SQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":460,"wires":[]},{"id":"ef5baefb.a67e9","type":"mqtt in","z":"16cda610.bb439a","name":"Sonda Data Input","topic":"ispindel/#","qos":"0","datatype":"auto","broker":"a0ebb6bf.652f78","x":120,"y":580,"wires":[["d3874c40.34ee5","975eadb7.6ea46"]]},{"id":"975eadb7.6ea46","type":"join","z":"16cda610.bb439a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"{\"id\":\"\",\"tilt\":\"\",\"temperature\":\"\",\"temp_units\":\"\",\"battery\":\"\",\"gravity\":\"\",\"interval\":\"\",\"RSSI\":\"\"}","reduceInitType":"json","reduceFixup":"","x":370,"y":580,"wires":[["8dc230bf.e103b","61b1103f.b45e7"]]},{"id":"8dc230bf.e103b","type":"debug","z":"16cda610.bb439a","name":"After Join","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":460,"wires":[]},{"id":"d3874c40.34ee5","type":"debug","z":"16cda610.bb439a","name":"Entrada","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":460,"wires":[]},{"id":"61b1103f.b45e7","type":"function","z":"16cda610.bb439a","name":"","func":"let id = extractIdSonda(msg.topic);\n\nfunction extractIdSonda(topic){\n    let indexId = topic.indexOf(\"/\");\n    let indexIdFin = topic.lastIndexOf(\"/\");\n    return topic.substring(indexId + 1, indexIdFin);\n}\n\nlet data = {\n    payload: {\n        id_Sonda: id,\n        tilt: msg.payload[\"ispindel/\"+id+\"/tilt\"],\n        temp: Math.trunc(msg.payload[\"ispindel/\"+id+\"/temperature\"]),\n        temp_Unit: msg.payload[\"ispindel/\"+id+\"/temp_units\"],\n        battery: msg.payload[\"ispindel/\"+id+\"/battery\"],\n        gravity: msg.payload[\"ispindel/\"+id+\"/gravity\"],\n        interval: msg.payload[\"ispindel/\"+id+\"/interval\"],\n        RSSI: msg.payload[\"ispindel/\"+id+\"/RSSI\"],\n        process: 3\n    },\n    topic: 'INSERT INTO sondas_data (id_Sonda, tilt, temp, temp_Unit, battery, gravity, `interval`, RSSI) VALUES (:id_Sonda, :tilt, :temp, :temp_Unit, :battery, :gravity, :interval, :RSSI)'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":580,"wires":[["935a319d.256bd","3f336305.123d6c","b1357aa8.b0c1b8"]]},{"id":"935a319d.256bd","type":"debug","z":"16cda610.bb439a","name":"After Id Insert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":460,"wires":[]},{"id":"eb4b97b2.cbfba8","type":"mqtt in","z":"16cda610.bb439a","name":"Arduino Data Input","topic":"cervecero/data/#","qos":"0","datatype":"json","broker":"a0ebb6bf.652f78","x":110,"y":180,"wires":[["de0c4b22.6cbbe8","486131b3.db183"]]},{"id":"de0c4b22.6cbbe8","type":"debug","z":"16cda610.bb439a","name":"Entrada","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":120,"wires":[]},{"id":"486131b3.db183","type":"function","z":"16cda610.bb439a","name":"","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_Placa: p.IDplaca,\n        recipe: p.receta,\n        process: p.proceso,\n        processStep: p.pasoProceso,\n        state: p.estado,\n        timeLeft: p.tiempoRestante,\n        percentage: p.porcentaje,\n        temp: p.temp.toFixed(1)\n    },\n    topic: 'INSERT INTO placas_data (id_Placa, receta, proceso, pasoProceso, estado, tiempoRestante, porcentaje, temp) VALUES (:id_Placa, :recipe, :process, :processStep, :state, :timeLeft, :percentage, :temp)'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["c0682935.2d3718","c630e025.38ef5","f32208d5.8249a8","839cc14d.8a246"]]},{"id":"c0682935.2d3718","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"c2579388.5c5b7","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"f454f1b6.3cd35","type":"mqtt out","z":"16cda610.bb439a","name":"Send to Web","topic":"","qos":"0","retain":"true","broker":"a0ebb6bf.652f78","x":750,"y":260,"wires":[]},{"id":"ff6bfb0d.56ef98","type":"mqtt out","z":"16cda610.bb439a","name":"Send to WebClient","topic":"","qos":"0","retain":"true","broker":"a0ebb6bf.652f78","x":1110,"y":680,"wires":[]},{"id":"b1357aa8.b0c1b8","type":"function","z":"16cda610.bb439a","name":"Send data to Web","func":"let data = {\n    \n    topic: \"webCervecero/sonda/\" + msg.payload.id_Sonda,\n    payload: msg.payload\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":680,"wires":[["ff6bfb0d.56ef98"]]},{"id":"f32208d5.8249a8","type":"function","z":"16cda610.bb439a","name":"","func":"let data = {\n    \n    topic: \"webCervecero/arduino/\" + msg.payload.id_Placa,\n    payload: msg.payload\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["f454f1b6.3cd35"]]},{"id":"3f336305.123d6c","type":"Stackhero-MySQL","z":"16cda610.bb439a","server":"410f1732.2a4f18","name":"","x":780,"y":580,"wires":[["9ba0c754.4b6a08"]]},{"id":"c630e025.38ef5","type":"Stackhero-MySQL","z":"16cda610.bb439a","server":"410f1732.2a4f18","name":"","x":580,"y":180,"wires":[["c2579388.5c5b7"]]},{"id":"e60b12c1.93bb3","type":"inject","z":"16cda610.bb439a","name":"","repeat":"","crontab":"","once":true,"topic":"","payload":"Started!","payloadType":"str","x":100,"y":380,"wires":[["9b1d7727.56d0f8"]]},{"id":"9b1d7727.56d0f8","type":"debug","z":"16cda610.bb439a","name":"","active":false,"console":"false","complete":"false","x":370,"y":380,"wires":[]},{"id":"5f69f0b4.cd2b6","type":"bigtimer","z":"16cda610.bb439a","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1080,"y":300,"wires":[[],[],[]]},{"id":"c7db3955.3f3b18","type":"mqtt in","z":"16cda610.bb439a","name":"Load Recipe","topic":"user/recipe/load","qos":"0","datatype":"json","broker":"a0ebb6bf.652f78","x":90,"y":1060,"wires":[["c92bf198.ad117","402a4732.dd6c88","d23aff65.48b18"]]},{"id":"c92bf198.ad117","type":"function","z":"16cda610.bb439a","name":"Carga pasos receta usuario","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_Receta: p.id_Receta,\n        id_User: p.id_User\n    },\n    topic: 'INSERT INTO pasos_Recetas_Users (id_Paso_Receta, id_Receta, id_User) SELECT p.id_Paso_Receta, p.id_Receta, :id_User FROM pasos_Recetas AS p WHERE p.id_Receta = :id_Receta'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1000,"wires":[["b459a378.c2911"]]},{"id":"b459a378.c2911","type":"Stackhero-MySQL","z":"16cda610.bb439a","server":"410f1732.2a4f18","name":"","x":1020,"y":1060,"wires":[["ec0d138a.13c2"]]},{"id":"92528aec.0f7508","type":"mqtt in","z":"16cda610.bb439a","name":"Unload Recipe","topic":"user/recipe/unload","qos":"0","datatype":"json","broker":"a0ebb6bf.652f78","x":80,"y":1200,"wires":[["f1bee9a5.7f2638","d23aff65.48b18","fa745cfe.e6ac6"]]},{"id":"f1bee9a5.7f2638","type":"function","z":"16cda610.bb439a","name":"Limpia pasos recerta usuario","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_User: p.id_User\n    },\n    topic: 'DELETE FROM pasos_Recetas_Users WHERE id_User = :id_User'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1220,"wires":[["b459a378.c2911"]]},{"id":"d23aff65.48b18","type":"function","z":"16cda610.bb439a","name":"Limpia datos proceso cervecero","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        id_Placa: p.id_Placa\n    },\n    topic: 'DELETE FROM placas_data WHERE id_Placa = :id_Placa'\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1140,"wires":[["20d25439.ee67cc"]]},{"id":"839cc14d.8a246","type":"switch","z":"16cda610.bb439a","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":300,"wires":[["27e533e7.3dcf7c","d23aff65.48b18"]]},{"id":"27e533e7.3dcf7c","type":"debug","z":"16cda610.bb439a","name":"Proceso acabado","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":320,"wires":[]},{"id":"3dc7c30a.b7358c","type":"comment","z":"16cda610.bb439a","name":"Comprobar fin proceso","info":"Hay un campo en la bbdd de cuando termina el proceso y la compararemos","x":360,"y":660,"wires":[]},{"id":"7d73125e.6b048c","type":"mqtt in","z":"16cda610.bb439a","name":"Mandar Proceso","topic":"webCervecero/sendProcess","qos":"0","datatype":"auto","broker":"a0ebb6bf.652f78","x":120,"y":760,"wires":[["990aa1a5.bfa4c"]]},{"id":"990aa1a5.bfa4c","type":"function","z":"16cda610.bb439a","name":"","func":"let p = msg.payload;\nlet topic = msg.topic;\nlet id_Placa = topic.substring(topic.length - 1);\n\nlet data = {\n    payload: {\n        menu: 2,\n        dato1: p.dato1,\n        dato2: p.dato2\n    },\n    topic: 'cervecero/menu/' + id_Placa\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":800,"wires":[["b5a2a6b0.24a678","ce085534.cd8b18"]]},{"id":"6ed8d405.e4c00c","type":"inject","z":"16cda610.bb439a","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"menu/2","payload":"{\"menu\":2,\"dato1\":1,\"dato2\":0}","payloadType":"json","x":130,"y":840,"wires":[["990aa1a5.bfa4c"]]},{"id":"b5a2a6b0.24a678","type":"debug","z":"16cda610.bb439a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":820,"wires":[]},{"id":"ce085534.cd8b18","type":"mqtt out","z":"16cda610.bb439a","name":"Send to Web","topic":"","qos":"0","retain":"false","broker":"a0ebb6bf.652f78","x":530,"y":760,"wires":[]},{"id":"402a4732.dd6c88","type":"function","z":"16cda610.bb439a","name":"Lanza proceso cervecero","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        menu: 1,\n        dato1: p.id_Receta,\n        dato2: 0\n        \n    },\n    topic: 'cervecero/menu/' + p.id_Placa\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1060,"wires":[["fb0ce46a.dcdac8"]]},{"id":"fb0ce46a.dcdac8","type":"mqtt out","z":"16cda610.bb439a","name":"Send recipe to cervecero","topic":"","qos":"0","retain":"false","broker":"a0ebb6bf.652f78","x":650,"y":1060,"wires":[]},{"id":"1d171479.73328c","type":"mqtt out","z":"16cda610.bb439a","name":"Cancelar Proceso","topic":"","qos":"0","retain":"false","broker":"a0ebb6bf.652f78","x":770,"y":1260,"wires":[]},{"id":"fa745cfe.e6ac6","type":"function","z":"16cda610.bb439a","name":"Cancela proceso cervecero","func":"let p = msg.payload;\n\nlet data = {\n    payload: {\n        menu: 4,\n        dato1: 0,\n        dato2: 0\n        \n    },\n    topic: 'cervecero/menu/' + p.id_Placa\n}\n\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1280,"wires":[["1d171479.73328c"]]},{"id":"20d25439.ee67cc","type":"delay","z":"16cda610.bb439a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":1140,"wires":[["b459a378.c2911"]]},{"id":"ec0d138a.13c2","type":"debug","z":"16cda610.bb439a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":1060,"wires":[]},{"id":"474db4c0.fc0edc","type":"inject","z":"16cda610.bb439a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"{\"id_Placa\":2}","payloadType":"json","x":120,"y":1120,"wires":[["d23aff65.48b18"]]},{"id":"a0ebb6bf.652f78","type":"mqtt-broker","name":"Cervecero MQTT","broker":"mosquitto","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"410f1732.2a4f18","type":"Stackhero-MySQL-Server","name":"","host":"mariadb","port":"3306","tls":false,"database":"cervecero"}]